{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.json", "*.jsonc"],
      "options": {
        "singleQuote": false,
        "printWidth": 120
      }
    },
    {
      "files": ["*.html"],
      "options": {
        "printWidth": 120,
        "htmlWhitespaceSensitivity": "css"
      }
    },
    {
      "files": ["*.md"],
      "options": {
        "proseWrap": "preserve"
      }
    }
  ]
}
